body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}

.App-header {
  background-color: rgb(116, 188, 230);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-top: 12px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.App-link {
  color: #617dfb;
}

input[type=number] {
  font-size: calc(10px + 2vmin);
  width: 4em;
}

button {
  font-size: calc(10px + 2vmin);
}

textarea {
  font-size: calc(10px + 2vmin);
}

.spinloader {
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.devData {
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 8px;
  margin: 0px;
}

.topRight {
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 8px;
}

.mediumText {
  font-size: medium;
}

.d-flex {
  display: flex;
}

.ContractInfo {
  font-size: calc(10px + 1vmin);
  text-align: left;
  width: 90vw;
  height: 7em;
  padding: 2vw;
  overflow-x: scroll;
  white-space: pre;
}
